<header>
  <nav>
    <h1> Devotion to Person </h1>
  </nav>
</header>

<section class="container">
  <aside class="secondary-content">
    <ul>
     <li>How many times Person is mentioned?</li>
     <li>How enthusiastic is the website?</li>
      <li>Enthusiastic words? 'wow, etc'</li>
      <li>How many words are in all caps</li>
      <li>How many sentences end in exclamation points?</li>
      <li>How many times are multiple exclamation points used?</li>
    </ul>
  </aside>

  <article class="main-content">
    <td>
      <h2><%= link_to "Fabio", :controller => "scrape", :action => "results", :person=> "Fabio" %></h2>
      <h2><%= link_to "TSwift", :controller => "scrape", :action => "results", :person=> "Taylor Swift" %></h2>
    </td>
  </article>
</section>
